* {box-sizing: border-box;}

body {font-family: Verdana, Arial, sans-serif;
      background-color: #EAEAEA;
      margin: 0;
}



nav {
  position: relative;
  text-align: center;
  background-color: lightblue;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  transition: font-size 0.3s;
}
nav a:link {
  color: #000;
}
nav a:visited {
  color: gray;
}
nav a:hover {
  color: white;
  text-decoration: underline;
  font-size: 1.2em;
}

video {
  margin-left: 20px;
}

img {
  margin-left: 20px;

}


/* Tried messing with media controls, but it appears that this method doesn't work. the display:none works but I can't get the hover to work (hide controls on page load, show controls on hover) */
/* video::-webkit-media-controls {
  display: none !important;
}

video:hover::-webkit-media-controls {
  display:inherit !important;
} */

